# Ignore MacOS File
*DS_Store

# Ignore python files
*__pycache__
*venv

# Ignore jupyter notebook files
*ipynb_checkpoints

# Ignore prootype data files
data_preprocessing/data/*
data_preprocessing/updated_data/*
