# Ignore MacOS File
*DS_Store

# Ignore python files
*__pycache__
*pytest_cache
*venv

# Ignore jupyter notebook files
*ipynb_checkpoints

# Ignore large data files from data preprocessing
data_preprocessing/data/*
data_preprocessing/updated_data/*